@import '../Variables.scss';

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: $secondary-color;
    border-radius: 32rem;
  }
  
  input {
    background-color: $secondary-color;
    color: $text-color;
    border-radius: 8rem;
    border: none;
    padding: 1rem 2rem;
    text-align: left;
    font-size: 1rem;
  }
  
  input:focus {
    outline: none;
  }
  
  i {
    background-color: transparent;
    border: none;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding-right: 1rem;
  }
  
  #search-icon {
    width: 1.5rem;
  }